$colors :(primary: blue,
    secondary:grey,
    danger:red,
    warning:lighten(orange, 40%),
    info:lighten(blue, 60%),
    success:green,
    white:#fff,
    black:#000);

// functions and Mixins
@function color($name) {
    @return map-get($map: $colors, $key:$name);
}

$desktop:1200px;
$tab:768px;

@mixin desktop {
    @media only screen and(min-width:$desktop) {
        @content
    }
}

@mixin tab {
    @media only screen and(min-width:$tab) {
        @content
    }
}

@mixin flex-prop {
    display: flex;
    justify-content: center;
    align-items: center;
}